modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["nodejs"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32915
externalPort = 9000

[[ports]]
localPort = 34597
externalPort = 5173

[[ports]]
localPort = 35861
externalPort = 3001

[[ports]]
localPort = 38657
externalPort = 3000

[[ports]]
localPort = 40145
externalPort = 8099

[[ports]]
localPort = 40217
externalPort = 6000

[[ports]]
localPort = 40385
externalPort = 5000

[[ports]]
localPort = 41017
externalPort = 8080

[[ports]]
localPort = 41937
externalPort = 6800

[[ports]]
localPort = 42685
externalPort = 3002

[[ports]]
localPort = 43673
externalPort = 3003

[[ports]]
localPort = 44927
externalPort = 8008

[[ports]]
localPort = 45337
externalPort = 4200

[[ports]]
localPort = 45539
externalPort = 8000

[[ports]]
localPort = 46717
externalPort = 8081

[objectStorage]
defaultBucketID = "replit-objstore-988cc690-5963-48b8-b852-b976020113c7"
